@import url(https://fonts.googleapis.com/css?family=Signika:700,300,600);
@import url(https://fonts.googleapis.com/css?family=Tangerine:700,300,600);

body{
    margin: 0;
}

header{
    width: 100%;
    height: 0px;
    display: flex;
    flex-wrap: wrap;
}

.logo{
    margin: 325px auto auto 650px;
    width: 100%;
}

.logo-per{
    height: 400px;
}

/* .main-menu{
    height: 20px;
    margin-right: 40px;
    margin-left: auto;
    margin-top: auto;
    margin-bottom: auto;
}
 */

/* .menu-option{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    text-decoration: none;
    color: grey;
    font-weight: 700;
    width: 700;
    max-resolution: auto 10px;
}
 */

main{
    width: 100%;
    margin:0 auto;
}

.zona-titular{
    height: 600px;
    width: 100%;
    text-align: center;
    background-image: url(https://image.freepik.com/free-vector/cute-hat-fox-seamless-pattern_8830-486.jpg);
    background-position: center center;
    background-repeat: repeat;
    background-attachment: fixed;
    background-size: 19%;
    box-sizing: border-box;
    margin: 0px;
    padding: 0;
}
    
.zona-titular h1{
    font-family:Tangerine;
    font-size: 180px;
    padding: 0px 0px 0px 0px;
    color:lightcyan;
    margin: 0;
}

.zona-titular h2{
    font-family: 'Luckiest Guy', cursive;
    font-size: 50px;
    padding: 50px 0px 0px 0px;
    color: black;
    margin: -0px;
}

.zona-titular h5{
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 30px;
    padding: 10px 0;
    background-color: transparent;
    height: 100%x;
    width: 300px;
    margin: 10px auto;
    box-shadow: 0px 10px 20px rgb(230, 155, 17);
    background-color: white;
    cursor: pointer;
}

.sec1{
    display: flex;
    height: 200px;
    width: 100%;
    margin-top: 125px;

}
.sec1 div{
    width: 100%;
    height: 100%;
}

#blog-sec{
    background-color: hsl(50, 75%, 55%);
    cursor: pointer;
    text-decoration: none;
}

#tienda-sec{
    background-color: hsl(135, 35%, 55%);
    cursor: pointer; 
    text-decoration: none;
}

#tienda-sec h3 a{
    text-decoration: none;
    color: white;
}
.sec1 h3{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    color: white;
    text-align: center;
    margin: 82px auto;
    text-decoration: none;

}

.sec-post{
    display: flex; 
    height: 50px;
    width: auto;
}

.sec-post div{
    width: 100%;
    text-align: center;
    margin-top: auto;
    margin-bottom: auto;
}

.sec-post img{
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(216,216,216);
    width: 75%;
    margin-top: 70px;
}

.sec-post p{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    width: 60%;
    margin: auto;
}

footer{
    margin-top: 2000px;
    display: flex;
    background-color: burlywood;

}
footer div{
    display: inline;
}
footer div h2{
    margin-left: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
    color: black;
}
footer div img{
    width: 5%;
    background: transparent;
    margin-left: 20px;
}
   
.sea{
    background-image: url(../img/mar3.png);
    background-repeat: repeat-x;
    background-attachment: initial;
    margin-top: 0;
    display: flex;
    height: 990px;
}



.sea img{
    height: 35%;
    display:inline-block;
    margin-top: 0;
}
div #estrella{
    align-items: center;
}
#estrella{
    margin: 692px 0 40px 867px;
    height: 200px;
    width: 200px;
}
#estrella2{
    margin: 618px 0 41px -49px;
    height: 150px;
    width: 150px;
    
}

.miniLogoDiv{
    
}
#minilogo{
    width: 15%;
    height: auto;
    margin-top: 0;
}

.erizoDivClass{
    background-image: url(../img/erizo1.png);
    background-repeat:no-repeat;
    background-attachment: initial;
    margin-top: 411px;
    display: flex;
    height: 1000px;
}

.erizoDivClass div img{
    width: 45%;
    margin: 338px auto auto 141px;
}

#erizo1{
    margin: 0 auto 0 306px;
}

#erizo2{
    width: 400px;
    margin: 200px 300px 0 0;
}

.sea div img{
    width:300px;
    height: 300px;
    display: flex;
    border-radius: 10px;
    margin-top: 309px;
    margin-left: 200px;
    margin-right: 100px;
   
    
}

.sea img{
    height: 35%;
    display:inline-block;
    margin-top: 0;
}
#velaIdDiv{
    background-color: rgb(255, 255, 255);
    display: flex;
    margin-top: 100px;
    height: 2700px;
}


#velaId{
    background-image: url(/img/botella.png);
    background-size: 90%;
    background-position: center;
    width: 100%;
    margin-top: 261px;
    filter: brightness(1);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
    background-position-y: top;
    
}

#estrellita{
    margin-top: 500px;
    width: 50%;
    opacity: 0%;
}
   span:nth-child(4n) { color:hsl(50, 75%, 55%); text-shadow:1px 1px hsl(50, 75%, 45%), 2px 2px hsl(50, 45%, 45%), 3px 3px hsl(50, 45%, 45%), 4px 4px hsl(50, 75%, 45%); }
   span:nth-child(4n-1) { color:hsl(135, 35%, 55%); text-shadow:1px 1px hsl(135, 35%, 45%), 2px 2px hsl(135, 35%, 45%), 3px 3px hsl(135, 35%, 45%), 4px 4px hsl(135, 35%, 45%); }
   span:nth-child(4n-2) { color:hsl(155, 35%, 60%); text-shadow:1px 1px hsl(155, 25%, 50%), 2px 2px hsl(155, 25%, 50%), 3px 3px hsl(155, 25%, 50%), 4px 4px hsl(140, 25%, 50%); }
   span:nth-child(4n-3) { color:hsl(30, 65%, 60%); text-shadow:1px 1px hsl(30, 45%, 50%), 2px 2px hsl(30, 45%, 50%), 3px 3px hsl(30, 45%, 50%), 4px 4px hsl(30, 45%, 50%); }
   
 #velaId div img{
    width: 444px;
    display: flex;
    border-radius: 41px;
    margin: 143px 253px 0 240px;
}



.fotos_botes{
    display: flex;
    flex-direction: row;
    width: 100%;
}
